RewriteEngine on
# RewriteBase /
# Hide the application and system directories by redirecting the request to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(application|system|\.svn) index.php/$1 [L]
RewriteRule ^(.*)$ index.php/$1 [L]